<h1>Add a movie</h1>

<body class="m-5">
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment  %>
    <%= f.submit "Submit", class:"btn btn-flat" %>
  <% end %>
</body>

<div class="mt-5">
<%= link_to "All lists", lists_path, class:"btn btn-flat" %>
</div>