<h1>Add a movie</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment  %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>

<%= link_to "ALl lists", lists_path %>